@import "bootstrap";
@import "rails_bootstrap_forms";

::-webkit-input-placeholder {
  color: #bbbbbb!important;
  font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  color: #bbbbbb!important;
  font-style: italic;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: #bbbbbb!important;
  font-style: italic;
}
