<div class="row">
  <div class="col-2">
      <%= link_to "Back", rules_path, class: "btn btn-info btn-block" %>
  </div>

  <div class="col-8">
    <h3>Edit Rule</h3>
    <%= bootstrap_form_for @rule do |f| %>
      <%= f.text_field :priority, type: "number", placeholder: "10", "data-toggle": "tooltip", "data-placement":"left", title:"Order in which to evaluate rules." %>
      <%= f.text_field :requested_url, placeholder: "http://written.rwdev.io/169188/swift-algorithm-club-august-2017-digest", "data-toggle": "tooltip", "data-placement":"left", title:"The requested url to match. Regex allowed." %>
      <%= f.text_field :destination_url, placeholder: "http://ios.rwdev.io/articles/169188", "data-toggle": "tooltip", "data-placement":"left", title:"The destination url to redirect the request to. Regex placeholder variables allowed." %>
      <%= f.submit "Save Rule", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="col-2">
    <a href="#" class="btn btn-danger" role="button" data-toggle="modal" data-target="#deleteRule">Delete Rule</a>
  </div>
</div>

<div class="modal fade" id="deleteRule" tabindex="-1" role="dialog" aria-labelledby="deleteRuleLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteRuleTitle">Delete Rule?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you wish to delete this rule?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <%= bootstrap_form_for @rule do |f| %>
          <%= button_to "Yes delete it", { action: "destroy", id: @rule.id }, class: "btn btn-danger", method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</div>
