<div class="row">
  <div class="col-2">
    <%= link_to "Add New Rule", new_rule_path, class: "btn btn-success btn-block" %>
  </div>
  <div class="col-10">
    <h3>Rules by priority</h3>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Priority</th>
          <th>Requested URL</th>
          <th></th>
          <th>Destination URL</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @rules.each do |rule| %>
          <tr>
            <th><%= rule.priority %></th>
            <td><%= rule.requested_url %></td>
            <td><%= octicon "triangle-right" %></td>
            <td><%= rule.destination_url %></td>
            <td>
              <%= link_to octicon("pencil"), edit_rule_path(rule) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
