<div class="row">
  <div class="col-2">
      <%= link_to "Back", rules_path, class: "btn btn-info btn-block" %>
  </div>

  <div class="col-8">
    <h3>New Rule</h3>
    <%= bootstrap_form_for @rule do |f| %>
      <%= f.text_field :priority, type: "number", placeholder: "10", "data-toggle": "tooltip", "data-placement":"left", title:"Order in which to evaluate rules." %>
      <%= f.text_field :requested_url, placeholder: "http://written.rwdev.io/169188/swift-algorithm-club-august-2017-digest", "data-toggle": "tooltip", "data-placement":"left", title:"The requested url to match. Regex allowed." %>
      <%= f.text_field :destination_url, placeholder: "http://ios.rwdev.io/articles/169188", "data-toggle": "tooltip", "data-placement":"left", title:"The destination url to redirect the request to. Regex placeholder variables allowed." %>
      <%= f.submit "Create Rule", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
