<div class="row">
  <div class="col-2">
    <%= link_to "Back", rules_path, class: "btn btn-info btn-block" %>
  </div>
  <div class="col-10">
    <h3><%= params[:url] %> Test Results</h3>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Order</th>
          <th>Matched Rule</th>
          <th></th>
          <th>Redirect URL</th>
        </tr>
      </thead>
      <tbody>
        <% @results.each_with_index do |result, index| %>
          <tr>
            <th><%= index + 1 %></th>
            <td><%= result.rule.requested_url %></td>
            <td><%= octicon "triangle-right" %></td>
            <td><%= result.redirect_url %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
