<!DOCTYPE html>
<html>
  <head>
    <title>Three Oh One</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <a class="navbar-brand" href="#">Three Oh One</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Rules", rules_path, class: "nav-link" %>
          </li>
        </ul>

        <%= form_tag test_rules_path, method: :get, class: "form-inline my-2 my-lg-0" do |f| %>
          <input class="form-control mr-sm-2" name="url" type="text" placeholder="Enter a url to test" aria-label="Url">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Test</button>
        <% end %>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <% flash.each do |name, msg| -%>
            <div class="alert alert-<%= name %>" role="alert">
              <%= msg %>
            </div>
          <% end -%>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
